---
---
// Breakpoints
$large-breakpoint: 80em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #0092dc !default;
$header-bg-color: #fff !default;
$header-bg-color-secondary: #fff !default;

// Text
$section-headings-color: #0d72a5 !default;
$body-text-color: #606c71 !default;
$body-link-color: #0d72a5 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

@import "{{ site.theme }}";


html, body{
    height:100%;
}

@media screen and (max-width: 80em) and (min-width: 42em) {
  .page-header {
      padding: 0;
  }
}


@media screen and (max-width: 90%) and (min-width: 42em) {
  .main-content-fullsize {
      @extend .main-content;
  }
}

nav {
    float: left;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    height:100%;
}
